body {
    width: 400px;
    height: 605px;
    box-sizing: border-box;
    overflow: auto;
}
  
.container {
    width: 100%;
    height: 100%;
    background-color: #5c5859;
}
  
.screen {
    width: 390px;
    height: 50px;
    background: #cddecc;
    position: relative;
    margin: 5px -14px 7px 2px;
    border: 1px solid #5c5859;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}
  
input[type="button"] {
    display: grid;
    width: 72px;
    height: 72px;
    background: #e6e5e5;
    margin: 5px 3px 5px 17px;
    border: 1px solid #5c5859;
    border-radius: 5px;
    color: #3b3b3c;
    font-family: 'Rubik';
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    box-shadow: 1px 1px 3px #272526;
}
  
input[type="button"]:hover {
    border: 2px solid #272526;
}
  
#clear {
    background-color: #ff0000;
    color: #ffffff;
}
  
#power, #power3 {
      font-size: 40px;
}
  
#copyright {
    margin-bottom: 4px;
    font-family: cursive;
    text-align: center;
}