dark-grey = #272526
font-black = #3b3b3c
grey = #5c5859
screen-green = #cddecc
white = #e6e5e5

body
    width auto
    height auto
    background-color rgba(33, 33, 33, 0.9)
    box-sizing border-box
    overflow auto

    .container 
        width 400px
        height 600px
        margin-left 35%
        margin-bottom 10%
        background-color grey

        #form 
            .screen 
                width 390px
                height 50px
                background screen-green
                position relative
                margin 5px -14px 7px 2px
                border 1px solid grey
                border-radius 5px
                font-size 40px
                font-weight bold
                text-align right
    
            .table
                table
                    tr
                        width 390px
                        display grid
                        grid-template-columns 1fr 1fr 1fr 1fr
                        place-content center

                        td
                            input[type="button"] 
                                display grid
                                place-content center
                                width 66px
                                height 66px
                                background white
                                margin 5px 3px 5px 17px
                                border 1px solid grey
                                border-radius 5px
                                color font-black
                                font-family 'Rubik'
                                font-size 50px
                                font-weight 700
                                text-align center
                                box-shadow 1px 1px 3px dark-grey
                
                                &:hover
                                    border 2px solid dark-grey
                                
                                
                            #clear
                                background-color #ff0000
                                color #ffffff
                                
                                
                            #power, #power3 
                                font-size 35px
                                
                                
        #copyright 
            margin-bottom 4px
            font-family cursive
            text-align center                                                        
                